.container{
    float: left;
    width: 580px;
    height: 380px;
    border: 1px solid rgb(26, 26, 136);
border-color: blanchedalmond;
margin: 20px;
padding: 22px;
}
.top{
    background-color: orange;
    height: 50px;
    width: 320px;
}
.middle{
    display: grid;
    justify-content: center;
    width: 320px;
    animation: spin 1s  infinite ;

}
.bottom{
    background-color: green;
    width: 320px;
    height: 50px;
}
@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}